@model DAISv1.Models.Asset

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Asset</h4>
    <hr />
    <dl class="row">
              <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetMaterialType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetMaterialType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationOfOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationOfOperation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationWithRFID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationWithRFID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Division)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfInstallation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfInstallation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfInstallation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfInstallation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesignLifeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesignLifeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOfPeriodLifeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOfPeriodLifeDate)
        </dd>
     <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelSerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelSerialNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TagId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
