@model IEnumerable<DAISv1.Models.Asset>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetMaterialType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationOfOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationWithRFID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfInstallation)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.DesignLifeDate)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.EndOfPeriodLifeDate)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.ManufacturerName)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.ModelSerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetMaterialType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationOfOperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationWithRFID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfInstallation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesignLifeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOfPeriodLifeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerName)
            </td>           
             <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelSerialNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TagId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TagId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TagId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
